#headerimg {
    margin: 0 auto;
    display: block;
    }

.ikincidiv {
    margin: 0;
    padding: 0 40px;
    display: block;
    text-align:center;
    background-color: white;
}
 .ikinci-frs {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        height: 85px;
        text-align:center;
        background-color:#eeeeee ;
} 
.card1 {
    width: 37%;
    height: 120px;
    margin-right: 4px;
    padding: 5px auto;
    float: left;
    background-color: #7ee5da;
}

.card2 {
    width: 25%;
    height: 120px;
    margin-right: 4px;
    padding: 5px auto;
    float: left;
    background-color: #70ccc2;
}

.card3 {
    width: 37%;
    height: 120px;
    margin:0;
    padding: 7px auto;
    float: left;
    background-color: #62b3aa;
}

.clear {
clear: both;
}

.noHover {
    text-decoration: none;
}

.btn3 {
    padding: 3px;
    margin: 0;
    border-radius: 3px; /*butonun kenar kısımlarını ovalleştiriyor.  */
    border: 1px solid;
    color: #000000;
    background-color: #eeeeee;
    text-decoration:none; /* buton içindeki yazının altındaki alt yazıyı kaldırdık none ile */

    -webkit-box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.3); /* css shadow generator yazınca googleda çıkıyor.https://html-css-js.com/css/generator/box-shadow/ bu siteden ayarladık değerleri ve kopyaladık.  */
}
a.btn3:visited{
    color: black;
    text-decoration: none;
}

.ucuncudiv {
    text-align:center;
}